/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    background-image: url(images/kylie-osullivan-BfaBLVCBTI8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    background-color: #1B244A;
    height: 500px;
    max-width: 800px;
    align-items: center;
    margin-top: 10%;
}

.score--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn--container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h3 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F94F6D;
    font-size: 90px;
    font-weight: 400;
    background-color: #080001;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 25px 0;
    width: 180px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: #9AABD8;
    font-size: 18px;
    color: #9AABD8;
    background-color: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 10px;
}